/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
/bootstrap
/database
/lang
/tests
/storage
/routes/c*
/resources/css
/resources/js
/resources/views/welcome.blade.php
/public/.htaccess
/public/favicon.ico
/public/index.php
/public/robots.txt
/config/a*
/config/b*
/config/c*
/config/f*
/config/h*
/config/l*
/config/m*
/config/q*
/config/s*
/config/v*
/app/c*
/app/e*
/app/m*
/app/p*
/app/http/m*
/app/http/kernel.php
/app/http/controllers/controller.php
/com*
/.edit*
/.env.example
/.gita*
/artisan
/*json
/*xml
/*js
/BASE_DE_DATOS/*bak